<div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header mdb-color lighten-4">
                <canvas id="seo" height="155px"></canvas>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Узбекистан<i
                            class="ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix">{{ guests_ruz }}</i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Россия<i
                                class="ml-auto" data-toggle="tooltip" data-placement="top"
                                title="Click to fix">{{ guests_rf }}</i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Иностранцы<i
                            class="ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix">{{ guests_in }}</i></a>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card card-cascade narrower" style="opacity: 0;">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header primary-color">
                <canvas id="traffic" height="155px"></canvas>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac
                        facilisi<i
                                class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                                title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros
                        <i class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                           title="Click to fix"></i></a>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card card-cascade narrower" style="opacity: 0;">
            <!--Card image-->
            <div class="view view-cascade gradient-card-header red accent-2">
                <canvas id="conversion" height="155px"></canvas>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
                <div class="list-group list-panel">
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo odio <i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac
                        facilisi<i
                                class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                                title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo risus <i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac consectet<i
                            class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                            title="Click to fix"></i></a>
                    <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at eros
                        <i class="fas fa-wrench ml-auto" data-toggle="tooltip" data-placement="top"
                           title="Click to fix"></i></a>
                </div>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <!--Grid column-->
</div>