.datepicker {
  z-index: 999; }

#new-booking {
  display: none; }
  #new-booking .wrap {
    height: 160px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px; }
    #new-booking .wrap .title {
      margin-top: 5px; }
    #new-booking .wrap .desc {
      display: flex;
      justify-content: space-around;
      align-items: center; }
    #new-booking .wrap .datepicker {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      #new-booking .wrap .datepicker input {
        width: 85px;
        height: 25px; }
    #new-booking .wrap .btns {
      display: flex;
      justify-content: space-around;
      align-self: center;
      margin-bottom: 15px; }
      #new-booking .wrap .btns a {
        font-size: 12px;
        color: #fff; }

.block-info-booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }
  .block-info-booking__left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
  .block-info-booking__middle {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
  .block-info-booking__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
