{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        input {
            padding: 5px;
            font-size: 13px;
            color: #444;
        }

        tbody {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }

        tbody tr {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 10px;
        }
        label {font-size: 14px!important;}
        label[for="id_left_to_pay"] {
            color: red;
        }
        label[for="id_paid"] {
            color: green;
        }
        #id_status_booking[value="-2"] {
            color: green;
        }
    </style>
{% endblock %}

{% block title %}
    EDIT
{% endblock %}

{% block content %}
    <form action="{% url 'edit-booking' booking.id %}" method="post">{% csrf_token %}
        <div class="btns" style="background-color: #fff; padding: 10px; margin-top: 15px;">
            <button type="submit" class="btn btn-primary" name="save" value="home">Сохранить</button>
            <button type="submit" class="btn btn-primary" name="save" value="continue">Сохранить и вернуться</button>
            <a href="/" class="btn btn-primary">Отмена</a>
        </div>
        <table class="table" style="background-color: #fff; color: #505050; padding: 10px;">
            {{ form.as_table }}
        </table>
        <div class="btns" style="background-color: #fff; padding: 10px; margin-top: 15px;">
            <button type="submit" class="btn btn-primary" name="save" value="home">Сохранить</button>
            <button type="submit" class="btn btn-primary" name="save" value="continue">Сохранить и вернуться</button>
            <a href="/" class="btn btn-primary">Отмена</a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('#id_guest').select2({width: '100%',});
        $('#id_organization').select2({
            width: 186,
            tags: true
        });
        let selects = ['id_room', 'id_type_payment', 'id_source_of_booking', 'id_status_booking', 'id_task'];

        function fnSelects(selects) {
            for (let i = 0; i < selects.length; i++) {
                $(`#${selects[i]}`).select2({width: 250});
            }
        }

        fnSelects(selects);

        $('#id_admin_comment').css({'width': '100%', 'height': '75px'});
        $('#id_customer_wishes').css({'width': '100%', 'height': '75px'});

    </script>
{% endblock %}