{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="ru">
<head>

    {% include 'head.html' %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/chess.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>


</head>
<body>


<div class="container">

    <div class="row">
        <div class="col-12">
            <ul class="top-menu">
                <li><a href="{% url 'chess' %}">Шахматка</a></li>
                <li><a href="{% url 'booking' %}">Новое бронирование</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            {% block content %}{% endblock %}
        </div>

    </div>
</div>






{% bootstrap_javascript jquery='full' %}
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>