{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load my_filter %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/chess.css' %}">
    <style>
        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border-bottom: 1px solid #ced4da!important;
            margin-top: 5px;
            padding-bottom: 33px;
        }
        .select2-container--default .select2-selection--single {
            border: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #798189;
        }
    </style>
{% endblock %}

{% block title %}
    Шахматка
{% endblock %}
{% block content %}

    {% include 'chess/booking-room.html' %}
    {% include 'chess/booking-rooms.html' %}
    {#    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#groupBookingModal"#}
    {#            id="create_booking_group">#}
    {#        Бронь группы#}
    {#    </button>#}

    <ul class="fixed-top list-group list-unstyled flex-row mt-2 ml-2">
        <li>
            <button type="button" class="btn btn-danger px-3" style="display: none" id="cancel_selected_btn">
                <i class="fas fa-ban" aria-hidden="true"></i>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-danger px-3" style="display: none" id="booking_room_btn"
                    data-toggle="modal" data-target="#bookingRoomModal">
                <i class="fas fa-user" aria-hidden="true"></i>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-danger px-3" style="display: none" id="booking_rooms_btn"
                    data-toggle="modal" data-target="#bookingRoomsModal">
                <i class="fas fa-users" aria-hidden="true"></i></button>
        </li>
    </ul>

    <div class="colors">
        <div class="status-4">Блокировка номера</div>
        <div class="status-1">Бронь без оплаты</div>
        <div class="status1">Бронь с предоплатой</div>
        <div class="status-2">Размещение без оплаты</div>
        <div class="status2">Размещение с оплаты</div>
        <div class="status-3">Выселенное размещение</div>
    </div>

    <form method="get" action="." class="date-filter">
        <div class="form-group">
            <input type="text" class="form-control" name="date_in" id="date_arrival" placeholder="Дата заезда"
                   autocomplete="off">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="date_out" id="date_departure" placeholder="Дата выезда"
                   autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Фильтр</button>
    </form>

    <div class="new-chess">
        <table class="table new_chess" id="table-cell">
            <thead>
            <tr>
                <th></th>
                <th colspan="{{ days }}">С {{ date_in }} по {{ date_out }}</th>
            </tr>
            <tr>
                <th></th>
                {% for date in dates %}
                    {% if date == today %}
                        <th class="today" style="background-color: #4ec8ea !important">
                            {{ date.day }}
                        </th>
                    {% else %}
                        <th>{{ date.day }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                {% for date in dates %}
                    {% if date == today %}
                        <th class="today" style="background-color: #4ec8ea !important">
                            {{ date.weekday|week_day }}
                            {#                            <div title="сегодня" class="line"#}
                            {#                                 style="border-color: rgb(78, 200, 234) !important; top: 27px; height: 1477px;"></div>#}
                        </th>
                    {% else %}
                        <th>{{ date.weekday|week_day }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            {% for tr_k, tr_v in db.items %}
                <tr>
                    <td class="new_chess-tr_k">{{ tr_k }}</td>
                </tr>
                {% for r_k, r_v in tr_v.items %}
                    <tr>
                        {% for d_k, d_v in r_v.items %}
                            {% if forloop.first %}
                                <td class="new_chess-r_k ignore">{{ r_k }}</td>

                                {% if d_v.0 != 'freeday' %}
                                    <td class="new_chess-d_k status{{ d_v.1 }} ignore"
                                        data-booking-id="{{ d_v.0 }}"
                                    >
                                        ID: {{ d_v.0 }}
                                    </td>
                                {% else %}
                                    <td class="new_chess-d_k"
                                        data-date="{{ d_k.day }}-{{ d_k.month }}-{{ d_k.year }}"
                                        data-room-name="{{ r_k }}"
                                    >
                                        {{ d_k.day }}
                                    </td>
                                {% endif %}
                            {% else %}
                                {% if d_v.0 != 'freeday' %}
                                    <td class="new_chess-d_k status{{ d_v.1 }} ignore"
                                        data-booking-id="{{ d_v.0 }}"
                                    >
                                        ID: {{ d_v.0 }}
                                    </td>
                                {% else %}
                                    <td class="new_chess-d_k"
                                        data-date="{{ d_k.day }}-{{ d_k.month }}-{{ d_k.year }}"
                                        data-room-name="{{ r_k }}"
                                    >
                                        {{ d_k.day }}
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}

        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/libs/popper.min.js' %}"></script>
    <script src="{% static 'js/libs/mdb.min.js' %}"></script>
    {#    <script src="{% static 'js/kill-all-page.js' %}"></script>#}
    <script src="{% static 'js/cellSelection.min.js' %}"></script>
    <script src="{% static 'js/chess.js' %}"></script>
{% endblock %}
