{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load my_filter %}


{% block content %}

    <div class="colors">
        <div class="reservation">Бронь</div>
        <div class="reservation-deposit">Бронь с предоплатой</div>
        <div class="person">Размещение гостя</div>
        <div class="person-debt">Размещение гостя с долгом</div>
        <div class="evicted-person">Выселенное размещение</div>
        <div class="person-exit">Гости сегодня выезжают из этого номера</div>

        <div class="lock-room">Блокировка номера</div>
    </div>

    <div class="text-center">{{ today }}</div>

    <div class="testing">
        <div class="datetime">
            <div class="empty-line">
                <div id="buttons" class="d-none">
                <button id="accept" class="btn btn-success" style="font-size: 11px;padding:.175rem .25rem">Добавить</button>
                <button id="cancel" class="btn btn-danger" style="font-size: 11px;padding:.175rem .25rem">Отменить</button>
            </div>
            </div>
            {% for weekday in weekdays %}
                <div class="weekday">{{ weekday }}</div>
            {% endfor %}

        </div>
        {% for type_room in type_rooms %}

            <div class="type-room-items">
                <div class="block-header">
                    <div class="type-room">
                        {{ type_room.name }}
                    </div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                    <div class="price">{{ type_room.price }}</div>
                </div>
                {% for room in type_room.rooms_set.all %}
                    <div class="row-ka">
                        <div class="room">Room №{{ room.number_room }}</div>
                        {% for date in dates %}
                            <div class="date">{{ date }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    </div>

    <div id="data-person" class="block-data-person">
    <button class="btn btn-danger" id="data-person-hide">Закрыть</button>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/chess.js' %}"></script>
    <script src="{% static 'js/chess-data-person.js' %}"></script>
{% endblock %}
