{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    База клиентов
{% endblock %}

{% block content %}

    <table class="table" style="background-color: #fff; color: #505050; margin-top: 15px;">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Налом</th>
            <th scope="col">Пластик</th>
            <th scope="col">Перечислением</th>
            <th scope="col">В долларах</th>
            <th scope="col">В процессе</th>
            <th scope="col">Затраты</th>
            <th scope="col">Итог</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">За сегодня</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>
            <td scope="row">За вчера</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>
            <td scope="row">За неделю</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block scripts %}

{% endblock %}